.application.theme--light{
  color: #0A1011;
  background-color: #fcfcfc;
}

.application .theme--light.toolbar, .theme--light .toolbar {
  background-color: #fcfcfc;
}

.application .theme--light.icon, .theme--light .icon {
  color: #2AD19A;
}
